.forgotPassword-outer-container {
    background: black;
    height: 800px;
}

.forgot-password-questionContainer{
    div {
        label {
            color:white;
            font-family: Arial, Helvetica, sans-serif;
            
        }
        div{
            color: white;
            border: 1px solid white;
            width: 590px;
            div{
                font-family: Arial, Helvetica, sans-serif;
                font-size: 14px;
            }
        }
        
    }
}
.answerContainer{
    margin-left: 10px;
}
.forgot-password-right-inner{
    margin-left: 250px;
}
.fp-button-container{
    
        width: 98%;
        padding: 0px;
        h4 {
            text-align: center;
        }
        button {
            border: 0px;
            background-color: #dd182d;
            height: 35px;
            width: 100%;
            border-radius: 5px;
            color: white;
            font-size: 14px;
            margin: 0px;
            margin-top: 15px;
            margin-left: 10px;
    }
}