.eventDetails {
    margin : 20px;
    box-sizing: border-box;
}
.eventDetails {
    font-family: Arial, Helvetica, sans-serif; 
}

.details{
    padding: 10px;
    border: 1px solid rgb(103, 100, 100);
    box-shadow: 2px 2px 2px #dd182d;
    background-color: black;
    color: white;
    transition: transform 450ms;

}
.details::-webkit-scrollbar{
    display: none;
}
.details:hover {
    transform: scale(1.08);

}
.buttons{
    button {
        border: 0px;
        background-color: #dd182d;
        height: 25px;
        width: 70px;
        border-radius: 5px;
        color: white;
        font-size: 14px;
        margin: 10px;
    }
}