.signUp-outer-container {
    background-color: black;
    display: flex;
    height: 1000px;
}

.logo-container {
    background-image: url("./../../Assets/Images/NU\ Logo.png");
    background-size: 100px;
   height: 100px;
   width: 100px;
}

.left-container {
    width: 20%;
}

.right-container {
    color: white;
    margin-left: 200px;
    margin-top: 100px;
}

.right-container form {
    width: 450px;
}

.signupHeader{
    text-align: center;
}

.signupPara {
    @extend .signupHeader;
}
.userName_Container {
    padding: 8px;
}
.email_Container {
    @extend .userName_Container;
}
.frst_name_container {
    @extend .userName_Container;
}
.lst_name_container {
    @extend .userName_Container;
}
.radioButtonsContainer {
    @extend .userName_Container;
}

.passcode {
    @extend .userName_Container
}
.userName_email_Container {
    display: flex;
    width: 100%;
    div {
        width: 50%;
    }
}

.form-input{
    width: 100%;
    height: 35px;
    border-radius: 5px;
    font-size: 14px;
}

.frst_lst_names_container {
    @extend .userName_email_Container;
}
.dob_gender_container {
    padding: 8px;
    @extend .userName_email_Container;
    div {
        width: 98%;
        height: 40px;
        padding: 0px;
    }
}

.dob_container{
    @extend .userName_Container;
    div{
        button {
            margin-left: 50px;
        }
        div {
            background-color: white;
        }
    }
}

.radioButtonsContainer{
    span {
        color: #757575;
        font: 14px;
    }
    div {
        width: 95%;
        border-radius: 5px;
        background-color: white;
        height: 100%;
        justify-content: space-around;
    }
    label{
        color: #757575;
        font-family: 'semi bold';
    }
}
.questionAnswerContainer {
    background-color: white;
}

.button-container 
    {
        width: 98%;
        padding: 0px;
        h4 {
            text-align: center;
        }
        button {
            border: 0px;
            background-color: #E50914;
            height: 35px;
            width: 100%;
            border-radius: 5px;
            color: white;
            font-size: 14px;
    }
}
.SignUp-Container {
    padding: 10px;
    width: 100%;
    h4 {
        a {
            color: white;
        }
    }
}