.login-outer-container {
    background-color: black;
    display: flex;
    height: 1000px;
}

.right-container form {
    width: 450px;
    h1,p {
        text-align: center;
        a {
            color: white;
        }
    }
}

.username-container {
    padding: 8px;
}

.password-container {
    @extend .username-container;
}

.button-container {
    @extend .username-container;
}

.form-input {
    width: 100%;
    height: 35px;
    border-radius: 5px;
    font-size: 14px;
}
