.logo-container{
    background-image: url('../../Assets/Images/NU\ Logo.png');
    width:140px;
    height:140px;
}
.login-outer-container {
    background-color: black;
    height : 900px;
}
.loginForm {
    color : white;
}
