@import '../../../Styles/variables.scss';
.shareBtn{
    background-color: $text-red;
    height: 35px;
    width: 80px;
    border-radius: 5px;
    color: $white-colour;
    font-size: 14px;
    border: 0px;
    margin-left: 45%;
    margin-bottom: 50px;
}
ol{
    list-style-type: none;  
}

.view-header{
    display: flex;
    margin-bottom: 20px;
}
.share-container{
    margin-left: 81%;
}