
@import '../../Styles/_variables.scss';

.main-layout-container {

    .header-wrapper {
        width: 100%;
        position: sticky;
        top: 0;
        background-color: $primary-brown;
        color: $white;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        height: 8vh;

        .header-nav {
            min-width: 40%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            a {
                color: $primary-beige;
                text-decoration: none;
                margin-bottom: 10px;
            }
            .signout-btn {
                background: none;
                color: $primary-brown;
                background-color: $primary-red;
                border: 1px solid $primary-beige;
                border-color: $primary-beige;
                border-radius: 10px;
                padding: 5px 20px;
                margin: 0px 8px 10px 0px;
            }
            .notifications-btn{
                color: $primary-beige;
            }
        }

        .header-logo {
            width: 70px;
            margin-left: 20px;
        }
    }
    
}