@import '../../../Styles/variables.scss';
.viewMapBtn{
    background-color: $text-red;
    height: 35px;
    width: 80px;
    border-radius: 5px;
    color: $white-colour;
    font-size: 14px;
    border: 0px;
    margin-left: 45%;
    margin-bottom: 50px;
}