


.events-container{
    background-color: #42240C;

    .event-title {
        color: #42240C;
        margin: 0;
        padding: 40px 0 20px 0;
    }
    
    .card-wrapper {
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      display: flex;
      padding: 20px;
      margin: 60px;
      cursor: pointer;
      background-color:#42240C;
      color: #ffff;

      .left-part {
          margin-right: 30px;
        img {
            width: 300px;
            height: 200px;
        }
      }

      .right-part {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          width: 100%;

          .card-title {
              display: flex;
              justify-content: space-between;
              width: 100%;
          }

          .right-bottom {
              display: flex;
              justify-content: space-between;
              width: 100%;
              align-items: center;

              .event-button {
                background-color: #cc3d38;
                padding: 10px;
                border-radius: 10px;
                border: none;
                cursor: pointer;
                margin-right: 10px;
              }
          }
          
          p {
              text-align: left;
          }

          h2 {
            text-decoration: none;
            color: #ffff;
            margin: 0 0 5px 0;
          }
      }
    }
}

.event-search-wrapper {
    margin: 0 60px;

    .event-text-field {
        width: 100%;
    }
}