$primary-brown: #42240C;
$primary-beige: #fab99a;
$primary-red : #cc3d38;
$primary-brown-opacity: rgba(66,36,12,20%);
$primary-beige-opacity: rgba(250, 185, 154, 40%);
$primary-pink: rgba(253, 186, 154, 65%);
$white: #ffff;
$primary-beige-light: #F2DED5;
$primary-brown-2: #42210D;
$primary-red-shadow : rgba(204, 61, 56, 50%);
$text-red: #9E322D;

