.loader-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  rgba(250, 185, 154, 40%);

    img {
        width: 300px;
        height: 300px;
    }
}

.mini-loader{
    width: 100%;
    height: 50%;
}
